<section class="home-splash">


    <div class="wrapper">

        <div class="home-splash__about">
            <h1>Grab A Cup</h1>
            <p>
                Have a meeting, want to catch up with friends or just fancy a good cappucino ? Find the nearest coffee shops in your area ! We even give you weather information, because we're nice like that.
            </p>
        </div>

        <form class="home-splash__search" ng-submit="getFormInformation()">

            <div class="form-group">
                <label for="city">Where are you ?</label>
                <input type="text" name="city" ng-model="city" placeholder="Brighton, UK - Leicester Square, London - Brooklyn, NY ...">
            </div>

            <div class="form-group split">

                <div>
                    <label for="radius">Radius</label>
                    <input type="text" name="radius" ng-model="searchRadius" placeholder="In metres">
                </div>

                <div>
                    <label for="radius">Limit (Max: 50)</label>
                    <input type="text" name="radius" ng-model="resultsLimit" placeholder="Number of venues to display">
                </div>

            </div>

            <button type="submit" class="btn-submit">Show me the coffee !</button>

        </form>

    </div>


</section>
